.navbar{
	display: flex;
	background-color: black;
}
.admin{
	color: white;
	padding-left: 295px;
}
.logout{
	color: white;
	padding-left: 397px;
}
.stock{
	    padding-top: 24px;
    padding-left: 7px;
    list-style-type: none;
    width: 178px;
    height: 534px;

}
.dropdown{
	display: non;
}
.fruit ul li .dropdown:hover{
	display: block;
}
.contnt{
	background-color: white;
	margin-top: -25px;
	text-align: center;
	padding-bottom: 3px;
	margin-bottom: 26px;
}
.search:hover{
	background-color: blue;
	color:black;

}
.allimg{
	display: flex;
}
.img1{
	padding-left: 20px;
}
.almonds{
	color: tomato;
}
.order{
	padding: 16px;
}
.keywords{
	padding-left: 51px;
	display: flex;
}
.search{
	color: white;
	background-color: tomato;
	border: none;
	height: 27px;
	margin-top: 21px;
}
.add{
	padding-left: 142px;
	font-weight: 400;
}
.ad{
	padding-left: 128px;
	font-weight: 400;
}
.butn{
	background-color:  white;
	border:1px solid white;
}
.stores{
	background-color: lightgray;
	width: 1024px;
	padding-left: 59px;
}
.category{
	font-weight: 400;
}
.all{
	display: flex;
}
.fruit{
	background-color: white;
	padding-bottom: 5px;
	padding-top: 4px;
}
.fruits{
	display: flex;
}
body{
	margin-top: 0PX;
	margin-right: 0px;
	margin-left: 0px;
}